@page
@attribute [Authorize(Roles="Admin")]
@model SnackPOS.Pages.Admin.Products.IndexModel
@{
    ViewData["Title"] = "Manage Products";
}
<h1>Manage Products</h1>
<a asp-page="Create" class="btn btn-success mb-2">New Product</a>
<table class="table">
<thead><tr><th>Name</th><th>Price</th><th>Available</th></tr></thead>
<tbody>
@foreach(var p in Model.Products)
{
    <tr>
        <td>@p.Name</td>
        <td>$@p.Price</td>
        <td>@p.Available</td>
    </tr>
}
</tbody>
</table>
